<!DOCTYPE html>
<html ng-app="MyProfileApp" ng-controller="MainCtrl as ctrl">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>About Me</title>
  <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <!--<link rel="stylesheet" type="text/css" href="styles/fonts/Noto_Serif/fonts.css">-->
  <link href='http://fonts.googleapis.com/css?family=Noto+Serif:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="styles/app.css">
</head>
<body>

<div class="app-wrapper">
  <div class="app-top-panel shadow-z1 clearfix">
    <div class="app-avatar">
      <img width="100%" height="100%" src="styles/imgs/avatar.png">
    </div>
    <h1 class="app-name" ng-bind="ctrl.myName"></h1>

    <!--<div class="app-skills">
      <div class="app-web-skills">
        <h3 class="app-skill-set-name">Front-end Skills</h3>
        <ul class="horizontal-list clearfix">
          <li class="horizontal-list-item clearfix app-center-block">
            <img class="skill-img centered" src="styles/imgs/angularjs.png">
            <div class="medal-exp shadow-z1 centered">2+</div>
          </li>

          <li class="horizontal-list-item clearfix app-center-block">
            <img class="skill-img centered" src="styles/imgs/HTML5_Logo_512.png">
            <div class="medal-exp shadow-z1 centered">2+</div>
          </li>

          <li class="horizontal-list-item clearfix app-center-block">
            <img class="skill-img centered" src="styles/imgs/css3.png">
            <div class="medal-exp shadow-z1 centered">2+</div>
          </li>

          <li class="horizontal-list-item clearfix app-center-block">
            <img class="skill-img centered" src="styles/imgs/js.png">
            <div class="medal-exp shadow-z1 centered">2+</div>
          </li>
        </ul>
      </div>

    </div>-->
  </div>

  <div class="app-toolbar shadow-z1">
    <nav class="app-nav">
      <div class="app-nav-item"
           ng-repeat="menu in ctrl.navMenus"
           ng-bind="menu.name"
           ng-class="{'app-item-selected': ctrl.selectedMenu.tpl == menu.tpl}"
           ng-click="ctrl.selectedMenu = menu"></div>
    </nav>
  </div>

  <div class="app-tab-content" ng-include="ctrl.selectedMenu.tpl"></div>
</div>

<footer class="site-footer">
  <div class="app-social">
    <a class="social-link social-icon icon-fb" ng-href="{{ ctrl.facebookLink }}" target="_blank"></a>
    <a class="social-link social-icon icon-gp" ng-href="{{ ctrl.googlePlusLink }}" target="_blank"></a>
  </div>
  <p class="copyright" ng-bind="ctrl.copyrightInfo"></p>
</footer>

<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
<script type="text/javascript" src="bower_components/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="scripts/mainModule.js"></script>
<script type="text/javascript" src="scripts/about/aboutCtrl.js"></script>
<script type="text/javascript" src="scripts/skills/skillsCtrl.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43478727-3', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>